/* Trimming paddding etc. */
.nopadding {
  padding: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Topbar */
.topbar {
  background-color: #5b6763;
}

.gutters {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px;
}

.borderpictures {
  max-width: 100%;
  max-height: 100%;
  min-height: 270px;
  min-width: 235px;
}

.h1title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  padding-top: 40px;
}

/*--------callout-------*/

.callout {
  background-color: #5b6763;
  margin: 20px;
  border-radius: 20px;
  max-width: 100%;
}

.callouttitle {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color: #fff;
}

.btncolor {
  background-color: #400303;
  color: #fff;
}

.calloutpicture {
  padding: 10px;
  border-radius: 20px;
  max-width: 90%;
  max-height: 90%;
}

/*-----------form segment of callout-----------*/

.signup {
  padding-top: 20px;
  background-color: #fff;
  margin: 30px;
  padding-bottom: 30px;
}

.formtext {
  color: ##400303;
}
