/* Trimming paddding etc. */
.nopadding {
  padding: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Topbar */
.topbar {
  background-color: #5b6763;
}

.gutters {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px;
}

.borderpictures {
  max-width: 100%;
  max-height: 100%;
  min-height: 270px;
}

.h1title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  padding-top: 40px;
}

@media (min-width: 768px) {
  .h1toptitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .h1toptitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

/*--------navbar--------*/
.navposition {
  position: absolute;
  bottom: 0px;
}

.navtitle {
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) and (max-width: 1037px) {
  .navtext {
    font-size: 83%;
  }
}

/*--------callout-------*/
.callout {
  background-color: #5b6763;
  margin-top: 30px;
  border-radius: 20px;
  max-width: 90%;
}

.callouttitle {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.calloutpara {
  color: #fff;
  font-family: 'Arvo', sans-serif;
  text-align: center;
}

.calloutparasmall {
  color: #fff;
  font-family: 'Arvo', sans-serif;
  font-size: 80%;
  text-align: center;
}

.videoclass {
      margin: 30px;

}

@media (min-width: 992px) {
  .calloutparasmall {
    font-size: 120%;
  }

  .calloutpara {
    font-size: 120%;
  }

  .callouttitle {
    font-size: 260%;
  }

  .booklistpara {
    font-size: 110%;
  }
}

.btncolor {
  background-color: #fff0c9;
  color: #5b6763;
}

.calloutpicture {
  padding: 10px;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 992px) {
  .centeralignpublications {
    position: relative;
    top: 20%;
  }
}

.centeralign {
  position: relative;
  top: 40%;
}

/*-------- About us -------------*/
.aboutuscontainer {
  background-color: #2d2a32;
  margin-top: 30px;
  border-radius: 20px;
  max-width: 90%;
}

.aboutusphoto {
  max-width: 100%;
  max-height: 100%;
  margin: 15px;
  border-radius: 20px;
}

/*-------- Publications -----------*/
.publicationscontainer {
  background-image: url("assets/images/Books.jpeg");
  background-size: 100%;
  margin-top: 30px;
  border-radius: 20px;
  max-width: 90%;
}

.booklist {
  background-color: rgba(64, 3, 3, 0.8);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.booklistpara {
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Arvo', sans-serif;
}

.booklinks {
  color: #fff0c9;
  font-style: oblique;
}

.booklinks:hover {
  color: #fff;
}

.booklinks a:hover {
  color: #fff;
}

.booklistli {
  margin: 0 0 20px 0;
}

/*-----------signup-----------*/
.formcontainer {
  background-color: #400303;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.formtext {
  color: #fff;
  font-family: 'Arvo', sans-serif;
  font-size: 80%;
  margin-left: 15%;
}

.formtextdark {
  color: #400303;
  font-family: 'Arvo', sans-serif;
  font-size: 80%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.btncenter {
  display: flex;
  justify-content: center;
  font-family: 'Arvo', sans-serif;
}

.formtitle {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*--------------------media-------------*/

.mediacontainer {
  background-color: #5b6763;
  margin-top: 30px;
  border-radius: 20px;
  max-width: 90%;
}

.videoclass {
  position: relative;
  width: 80%;
}

.podcasts {
  padding: 15px;
  margin: auto;
}



.mediatitle {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/*--------------------footer------------*/
.personalisedfooter {
  background-color: #5b6763;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footerlinks {
  color: #fff;
}

.footerlinks:hover {
  color: #fff0c9;
}
